:root {
    --black: #000000;
    --darkgray: #101010;
    --darkgray01: #202020;
    --gray: #404040;
    --lightgray: #606060;
    --lightgray01: #808080;
    --lightwhite: #c0c0c0;
    --lightwhite01:#e0e0e0;
    --white: #f0f0f0;
}