.shareicon {
  max-width: 10%;
  max-height: 10%;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

.gifcontainer {
  
  overflow: hidden;
  padding: 0px;
  border: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative; /* Ensures children are positioned relative to this */
}

.heart {
  filter: invert(100%) sepia(100%) saturate(19%) hue-rotate(316deg) brightness(106%) contrast(106%);
  opacity: 0;
  transition: opacity 1s ease;
}

.heart:hover {
  animation: heartbeat 1s infinite;
}

.plus-image {
  position: absolute; /* Position absolutely within .gifcontainer */
  top: 5%; /* Adjust as needed */
  right: 3%; /* Adjust as needed */
  max-width: 10%;
  z-index: 10; /* Higher than the image's z-index */
}

.gifcontainer img.gifem {
  display: block;
  width: 100%;
}

.gifem {
  transition: filter 1s ease;
}

.gifcontainer:hover .gifem {
  filter: brightness(80%);
}

.gifcontainer:hover .heart {
  opacity: 1;
}
