.myheader {
    font-size: auto;
    color: #fff;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes myheader {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #312e2e, 0 0 40px #312e2e, 0 0 50px #312e2e, 0 0 60px #312e2e, 0 0 70px #312e2e;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #595964, 0 0 40px #595964, 0 0 50px #595964, 0 0 60px #595964, 0 0 70px #595964, 0 0 80px #595964;
    }
}
