.coloredtags {
    /*background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    animation: slidebg 5s linear infinite;
    word-wrap: break-word;
    margin: 1%;*/
    color: white;
    background-color: rgb(120,120,120);
    display: inline-block;
    overflow-wrap: break-word;
    overflow: hidden;
    word-break: break-all;
}

.coloredtags :hover {
    color: rgb(216,216,216)
}